<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taller feliz :)</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-700">
    <!-- Barra de navegacion -->
    <section>
      <nav class="flex flex-row">
        <a href="https://github.com/jazgamarra" class="mx-8 bg-cyan-100"
          >Boton 1</a
        >
        <p class="mx-8 bg-cyan-100">Boton 2</p>
        <p class="mx-8 bg-cyan-100">Boton 3</p>
      </nav>
    </section>

    <!-- Aprender a centrar un div  -->
    <div class="flex justify-center">
      <h1>TALLER FELIZ :)</h1>
    </div>

    <!-- Hipervinculos -->
    <a href="https://github.com/jazgamarra">Ir a github </a>
    <br />

    <!-- Direccionar a ejemplo -->
    <a href="{{url_for('ejemplo')}}">Ir a la segunda pagina</a>
  </body>
</html>
